# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build
bin/
obj/
out/

# Rider
.idea/

# ASP.NET Core
appsettings.Development.json

# NuGet
*.nupkg
*.snupkg
packages/

# Logs
*.log

# OS
.DS_Store
bookstore.db
