.background-paths-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  transform: scaleX(-1);
}

.paths-overlay {
  position: absolute;
  inset: 0;
}

.floating-paths {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.paths-svg {
  width: 100%;
  height: 100%;
  color: #2D3436;
}