.footer {
  background: #262927; /* Темный оттенок основного цвета */
  color: white;
  padding: 1.5rem 0;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}

.footer-text {
  font-size: 1rem;
  font-weight: 500;
  color: #F8F9FA;
}