

.home-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #F8F9FA;
}

.home-box {
  position: relative;
  background: white;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  box-shadow: 0 4px 50px rgba(0,0,0,0.2);
}

.home-content {
  text-align: center;
  width: 100%;
}

.home-content h1 {
  color: #2D3436;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
}

.home-buttons {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* расстояние между кнопками */
}

.home-content p {
  color: #5b6e63ff;
  font-size: 14px;
  margin-top: 0px;
  line-height: 1.5;
}

.home-right-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Ограничиваем область для BackgroundPaths */
.home-right-container > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}


